body {
  background-color: pink;
  text-align: center;}
header {
  background-color: black;
  color: pink;}
h1 {
  font-size: 2.5em;}
h2 {
  font-size: 1.5em;
  line-height: 2em;}
p {
  line-height: 1.5em;
}
#p1 {
  color:pink;
  font-weight: bold;
}
footer {
  color: green;
  font-style: italic;
}